<main>
  <div class="login-container">
    <p-card header="Inicie sesión" class="text-center">
      <div class="container-input-login">
        <input type="text"
               pInputText
               class="p-inputtext-sm"
               placeholder="Ingrese correo"/>
               <input type="password"
                      pPassword
                      class="p-inputtext-sm"
                      placeholder="Contraseña"/>
      </div>
      <p-footer>

        <button pButton pRipple type="button" label="Ingresar" icon="pi pi-sign-in"  class="p-button-rounded p-button-secondary p-button-lg"></button>

      </p-footer>
    </p-card>

  </div>
</main>
